:root {
  --square: #ffc600;
  --circle: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  background: var(--base);
  padding: 50px;
}

.square {
  background: var(--square);
  border: 0.5rem outset rgb(53, 126, 168);
  outline-offset: 0.5rem;
  height: 150px;
  margin: 2rem;
  padding: 1rem;
  width: 150px;
}

.circle {
  background: var(--circle);
  border: 0.5rem outset rgb(53, 126, 168);
  border-radius: 50%;
  outline-offset: 0.5rem;
  height: 150px;
  margin: 2rem;
  padding: 1rem;
  width: 150px;
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
  background: #b6d2e6;
  color: rgb(5, 43, 92);
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.shape {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;
}

input {
  width: 100px;
}

.form-div{
  align-items: center;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  margin: 10rem;
}

.controls {
  display: flex;
}

